<mat-card>Ingrese los signos del paciente</mat-card>

<form class="example-container" [formGroup]="form" #frmSigno="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input type="text" placeholder="Paciente" required matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente" formControlName="paciente">
    </mat-form-field>
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente" (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>

    <!-- Fecha -->
    <mat-form-field>
        <input matInput [matDatepicker]="picker" required placeholder="Escoge una fecha" [max]="maxFecha"
            formControlName="fecha" [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Campos planos -->
    <mat-form-field>
        <input matInput placeholder="Temperatura" required [(ngModel)]="temperatura" formControlName="temperatura">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Pulso" required [(ngModel)]="pulso" formControlName="pulso"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="Ritmo respiratorio" required [(ngModel)]="ritmo" formControlName="ritmo"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSigno.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signo' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>