<router-outlet></router-outlet>

<mat-toolbar>Signos</mat-toolbar>

<div class="example-header">
    <mat-form-field>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Busqueda">
    </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idSigno">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.idSigno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Paciente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.paciente.nombres}} {{row.paciente.apellidos }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Fecha">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.fecha | date:'dd-MM-yyyy hh:mm:ss a'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Temperatura">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.temperatura}} C° </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Pulso">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.pulso}}/100</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Ritmo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.ritmoRespiratorio}}/60 </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-button color="primary" [routerLink]="['edicion', row.idSigno]">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-button color="accent" (click)="eliminar(row.idSigno)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasAMostrar;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<button mat-fab color="accent" style="float: right" routerLink="/signo/nuevo">
    <mat-icon>create</mat-icon>
</button>